<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CarpartsStore</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/content/site.css" />
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
    
</head>
<body>

      @await Component.InvokeAsync("ShopCartSummary")
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" asp-controller="Home" asp-action="Index">@ViewData["Title"] - CarpartsStore</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" 
          data-target="#navbarColor01" aria-controls="navbarNavDropdown" 
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
          @await Component.InvokeAsync("CategoryMenu")
          <li class="nav-item"><a class="nav-link" asp-controller="ShopCart" asp-action="Index">Корзина</a></li>
          <li class="nav-item"><a class="nav-link" asp-controller="Contact" asp-action="Index">Обратная связь</a></li>
          <li class="nav-item active">@await Component.InvokeAsync("ShopCartSummary")</li>
          @if (User.Identity.IsAuthenticated)
          {
              @*<p class="form-control mr-sm-2">@User.Identity.Name</p>*@
              <form method="post" asp-controller="Account" asp-action="Logout">
                  <input class="btn btn-light my-2 my-sm-0" type="submit" value="Выход" />
              </form>
          }
          else
          {
              <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Login">Вход</a></li>
              <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Register">Регистрация</a></li>
          }
      </ul>
      <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Поиск">
          <button class="btn btn-light my-2 my-sm-0" type="submit">Поиск</button>
      </form>
  </div>
</nav>
  <div class="row">
  <div class="col-lg-8 mx-auto">

    <!-- List group-->
    <ul class="list-group shadow">
    @RenderBody()
    </ul>
  </div>
  </div>
  <footer class="border-top footer text-muted">
      <div class="container">
          &copy; 2019 - CarpartsStore 
      </div>
  </footer>
</body>
</html>
