@model CarPartsStore.Data.Models.CarPart
@{
    ViewBag.Title = "Добавление детали";
}
    <form asp-action="create" asp-controller="home">
        <div class="form-group">
            <label asp-for="Name" class="control-label">Название</label>
            <input type="text" asp-for="Name" class="form-control" />
        </div>
        @*<div class="form-group">
            <label asp-for="Manufacturer" class="control-label">Производитель</label>
            <input type="text" asp-for="Manufacturer" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="LongDescription" class="control-label">Полное описание</label>
            <input type="text" asp-for="LongDescription" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="ShortDescription" class="control-label">Краткое описание</label>
            <input type="text" asp-for="ShortDescription" class="form-control" />
        </div>*@
        <div class="form-group">
            <label asp-for="Price" class="control-label">Цена</label>
            <input type="number" asp-for="Price" class="form-control" />
        </div>
        @*<div class="form-group">
            <label asp-for="ImageURL" class="control-label">URL картинки</label>
            <input type="text" asp-for="ImageURL" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="ImageThumbnailURL" class="control-label">URL миниатюры</label>
            <input type="text" asp-for="ImageThumbnailURL" class="form-control" />
        </div>*@
        <div class="form-group">
            <input type="submit" value="Отправить" class="btn btn-default" />
        </div>
    </form>
