@model HomeViewModel

@await Html.PartialAsync("Carousel")

<h2>Детали в наличии</h2>
<div class="row">
    @foreach (var carpart in Model.IsInStock)
    {
        @Html.Partial("CarpartsSummary", carpart)
    }
</div>