@using CarPartsStore.Data.Models
<div>
    <h1>Carparts are shown here:</h1>
</div>

<h2>@Model.CurrentCategory</h2>

@{
    foreach (Carpart carpart in Model.Carparts)
    {
        @Html.Partial("CarpartsSummary", carpart)
    }
}
