#cartButton{
    margin-right:8px;
}

body {
    background: rgb(251, 255, 251);
    min-height: 100vh;
    padding-top: 4.5rem;
}

.text-gray {
    color: #343434;
}
nav{
    padding:80px;
}

.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}

.marginTop{
    margin-top:5%;
}

.marginTop1{
    margin-top:2%;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}